* {
  text-decoration: none !important;
}
.header .ant-select-selector {
  border-radius: 30px !important;
  padding: 25px !important;
  display: flex !important;
  align-items: center !important;
}
.ant-select.ant-select-outlined.css-dev-only-do-not-override-m4timi.ant-select-single.ant-select-show-arrow.ant-select-show-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-select-arrow {
  display: none !important;
}
/* .select .ant-select-selector {
  border: none !important;
  outline: none !important;
}
.select .ant-select-selection-search {
  border: none !important;
  outline: none !important;
}
.input#rc_select_5{
  display: flex;
  justify-content: center;
  align-items: center;
} */